* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(img/owl.jpg);
    font-family: 'Segoe UI', sans-serif;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #eee;
}


/* ----- HEADER ----- */
header {
    height: 55px;
    background-color: transparent;
}

.nav-left {
    float: left;
    height: 50px;
    margin-left: 105px;
}

.nav-left li {
    display: inline-block;
    margin-right: 38px; 
    margin-top: 12px;
}

.nav-left li:first-child{
    border-bottom: 2px solid #eee;
    padding-bottom: 6px;
}

.nav-right {
    float: right;
    height: 50px;
    margin-right: 105px;
}

.nav-right li {
    display: inline-block;
    margin-right: 18px; 
}

.nav-right li:first-child { 
    margin-right: 0;  
    margin-top: 12px;
}

ion-icon[name='contact'] {
    font-size: 45px;
    line-height: 45px;
    vertical-align: middle;
}

ion-icon[name='menu'] {
    font-size: 34px;
    line-height: 34px;
    vertical-align: middle;
}


/* ----- MAIN ----- */
main {
    position: relative;
    height: 619px;
}

.search img {
    width: 155px;
    height: auto;
    margin-top: 85px;
    margin-right: 34px;
    margin-left: 110px; 
}

.search-bar {
    position: absolute;
    display: inline-block;
    width: 694px;
    height: 65px;
    margin-top: 90px;
}

input {
    width: 694px;
    height: 60px;
    font-size: 22px;
    border: 2px solid #ccc; 
    box-shadow: 0 3px 3px #777;
}

input:focus {
    outline: none;
}

i.ion-ios-search {
    float: right;
    color: #4c4ce7;
    font-size: 38px;
    transform: scaleX(-1);
    margin-top: -59px;
    padding: 4px 12px;
}

.slide {
    position: absolute;
    height: 52px;
    width: 240px;
    bottom: 22px;
    right: 90px;
}

i.ion-ios-arrow-back,
i.ion-ios-arrow-forward,
i.ion-ios-pin {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(34, 34, 34, 0.7);
    text-align: center;
    padding: 12px 8px;
    margin-right: -3px;
}

.info {
    display: inline-block;
    width: 102px;
}

i.ion-ios-pin {
    position: relative;
    width: 100px;
    text-align: left;
    padding-left: 16px;
}

span {
    position: absolute;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    margin-top: 2px;
    margin-left: 15px;
}



/* ----- FOOTER ----- */
footer {
    position: absolute;
    height: 48px;
    width: 100%;
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #333;
    bottom: 0;
}

.footer-nav {
    float: left;
    padding-left: 50px;
}

.footer-nav li {
    display: inline-block;
    padding-right: 30px;
    margin-top: 15px;
}

.footer-nav li a, 
p { color: #666; }

p {
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}


